{:source-paths ["src"]

 :dependencies [[binaryage/devtools "1.0.0"]
                [cider/cider-nrepl "0.22.4"]
                [reagent "0.10.0"]
                [cljs-ajax "0.7.5"]]

 :nrepl        {:port 3333}

 :dev-http     {8080 "public"}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main
         {:entries [ale.core]}}

        :devtools
        {:after-load  ale.core/main
         :http-root   "public"
         :http-port   3000}}}}
